<div class="all-groups">
  <h1 class="title">All Groups</h1>

  <div class="add-group">
    <%= link_to 'Create Group', new_group_path %>
  </div>
</div>

<ul class="group-cards">
  <% @groups.each do |g| %>
    <li class="card">
      <a href=<%= edit_group_path(g.id) %>>
        <div class="flex">
          <%= group_icon(g, 'icon') %>
          <div class='details'>
            <%= content_tag(:h3, g.name.capitalize, class: 'title') %>
            <%= content_tag(:p, "Products: #{g.products.count}", class: 'deat') %>
          </div>
        </div>
      </a>
    </li>
  <% end %>
</ul>