<h1>Register</h1>

<%= form_for @user do |f| %>
  <%= f.label :username, 'Username' %>
  <%= f.text_field :username %>
  <%= f.label :role, 'Role' %>
  <%= f.select :role, %w[Admin Employee], include_blank: '' %>
  <%= f.submit 'Register' %>
<% end %>
