<%= form_for @product, html: { class: 'new_product' } do |p| %>
  <%= p.label :name, 'Product Name', class: 'name-label' %>
  <%= p.text_field :name, class: 'name' %>
  <%= p.label :price, class: 'price-label' %>
  <%= p.number_field :price, min: 0, class: 'price' %>
  <%= p.label :quantity, class: 'quantity-label' %>
  <%= p.number_field :quantity, step: 1, min: 0, class: 'quantity' %>
  <%= p.label :upc, 'Universal Product Code (UPC)', class: 'upc-label' %>
  <%= p.number_field :upc, min: 100000000000, max: 999999999999, class: 'upc' %>
  <%= p.submit %>

  <% @product.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>