<ul class="products-cards">
  <% @products.each do |p| %>
    <li class="card">
      <div class="flex">
        <a class="flex" href=<%= edit_product_path(p.id) %>>
          <div>
            <%= content_tag(:h3, p.name, class: 'title') %>
            <%= content_tag(:p, "Group: #{p.group.name}") %>
            <% if !p.upc.nil? %>
              <%= content_tag(:p, "UPC: #{p.upc}") %>
            <% end %>
          </div>
          <div>
            <%= content_tag(:p, "Price: #{number_to_currency(p.price)}") %>
            <%= content_tag(:p, "QTY: #{p.quantity}") %>
            <%= content_tag(:p, "Sales: #{total_sales(p)}") %>
          </div>
        </a>
        <div>
          <%= options(p) %>
        </div>
      </div>
    </li>
  <% end %>
</ul>