<div class="all-products">
  <h1 class="title">All Products</h1>

  <div class="add-product">
    <%= link_to 'Add Product', new_product_path %>
  </div>
</div>

<% @products.each do |p| %>
  <div>
    <%= p.name %>
    <%= label_tag 'Price: ' %>
    <%= number_to_currency(p.price) %>
    <%= label_tag 'Quantity: ' %>
    <%= p.quantity %>
    <% if !p.upc.nil? %>
      <%= label_tag 'UPC: ' %>
      <%= p.upc %>
    <% end %>
    <%= label_tag 'Group: ' %>
    <%= p.group.name %>
  </div>
<% end %>