<div class="all-users">
  <h1 class="title">Sales</h1>
</div>

<ul class="sales-cards">
  <% @sales.each do |s| %>
    <li class="card">
      <a class="flex" href=<%= sale_path(s.id) %>>
        <ul>
          <li>
            Sale Nº <%= s.id %>
          </li>
          <li>
            Sold by <%= s.seller.username.capitalize %>
          </li>
          <li>
            Products Sold: <%= s.line_items.count %>
          </li>
          <li>
            Sale Made at <%= s.created_at.localtime.strftime('%d/%m/%Y %H:%M') %>
          </li>
        </ul>
      </a>
    </li>
  <% end %>
</ul>
