<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Transactions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex body">
      <% if logged_in? %>
      <aside>
        <nav class="nav-aside">
          <ul>
            <li>
              <div class="flex profile-a">
                <a href=<%= edit_user_path(current_user.id) %>>
                  <%= avatar_attached %>
                </a>
                <%= link_to current_user.username.titleize , edit_user_path(current_user.id), class: 'username' %>
              </div>
              <%= link_to 'Logout', logout_path, class: 'logout-btn' %>
            </li>
            <ul class="main-nav">
              <li>
                <div>
                  <%= link_to "#{icon('fas', 'shopping-cart')} Cart".html_safe, cart_path(@current_cart), class: 'cart' %>
                </div>
              </li>
              <li>
                <%= link_to "#{icon('fas', 'piggy-bank')} Sales".html_safe, sales_path %>
              </li>
              <li>
                <%= link_to "#{icon('fas', 'layer-group')} Sale Groups".html_safe, sale_groups_path %>
              </li>
              <li>
                <%= link_to "#{icon('fas', 'dollar-sign')} Individual Sales".html_safe, individual_sales_path %>
              </li>
              <li>
                <%= link_to "#{icon('fas', 'cubes')} Products".html_safe, products_path %>
              </li>
              <li>
                <%= link_to "#{icon('fas', 'layer-group')} Groups".html_safe, groups_path %>
              </li>
              <li>
                <%= only_admins %>
              </li>
            </ul>
          </ul>
        </nav>
      </aside>
      <% end %>
      <main class=<%= 'logout' if !logged_in?%>>
        <% if !logged_in? %>
          <header class="header">
            <nav class="navbar">
              <div class="nav-logout">
                <%= link_to 'Login', login_path, class: 'profile' %>
                <%= link_to 'Register', new_user_path %>
              </div>
            </nav>
          </header>
        <% end %>
        <div class="yield">
          <%= yield %>
        </div>
      </main>
    </div>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |t, f| %>
          <% type = t.to_s.gsub('alert', 'error').gsub('notice', 'info').gsub('succeeded', 'success') %>
          toastr['<%= type %>']('<%= f %>');
        <% end %>
      </script>
    <% end %>
  </body>
</html>
