<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <% if logged_in? %>
          <div class="nav-left">
              <%= link_to 'Sales', sales_path %>
              <%= link_to 'Products', products_path %>
              <%= link_to 'Groups', groups_path %>
              <%= only_admins %>
          </div>
        <% end %>
        <div class="nav-right">
          <% if logged_in? %>
            <div class="profile">
              <a href=<%= edit_user_path(current_user.id) %>>
                <%= avatar_attached %>
              </a>
              <%= link_to current_user.username.capitalize , edit_user_path(current_user.id) %>
            </div>
            <%= link_to  'Cart', cart_path(@current_cart), class: 'profile' %>
            <%= link_to 'Logout', logout_path %>
          <% else %>
            <%= link_to 'Login', login_path, class: 'profile' %>
            <%= link_to 'Register', new_user_path %>
          <% end %>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
      <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |t, f| %>
            <% type = t.to_s.gsub('alert', 'error').gsub('notice', 'info').gsub('succeeded', 'success') %>
            toastr['<%= type %>']('<%= f %>');
          <% end %>
        </script>
      <% end %>
  </body>
</html>
