<div class="top">
  <div class="title-cont">
    <h1 class="title"><%= icon('fas', 'layer-group') %> All Sale Groups</h1>
  </div>
</div>

<div class="main card-list">
  <ul class="group-cards">
    <% @sale_groups.each do |g| %>
      <li class="card g-card">
        <a href=<%= sale_group_path(g.id) %>>
          <div class="flex">
            <%= group_icon(g, 'icon') %>
            <div class='details'>
              <%= content_tag(:h3, g.name.titleize, class: 'title') %>
              <%= content_tag(:p, "Sales: #{g.sales.count}", class: 'deat') %>
              <%= content_tag(:p, "Creator: #{g.creator.username.titleize}", class: 'deat') %>
              <%= content_tag(:p, "Created at #{g.created_at.localtime.strftime('%d/%m/%Y %H:%M')}") %>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<div class="add-btn">
  <%= link_to 'Create Sale Group', new_sale_group_path %>
</div>